.card {
    margin: 5% 20% 0% 20%;
     width: 50%;
 }

.select_head {
    float: left;
    width: 10%;
    margin-right: 5%;
}

.select {
    float: left;
    width: 5%;
    margin-top: 1%;
    margin-right: 5%;
 }
 
 .no {
    float: left;
    width: 7%;
    text-align: center;
    margin-right: 5%;
 }
 
 .type {
    float: left;
    width: 10%;
    margin-right: 5%;
 }
 
 .place {
    float: left;
    width: 42%;
    margin-right: 5%;
 }
 
 .state {
    float: right;
    width: 10%;
}

.btn_able, .btn_unable {
    float: right;
 }
 
 .btn_able {
    margin-left: 1%;
    border-radius: 30px;
    background-color: #2ECC71;
 }
 
 .btn_unable {
    margin-left: 1%;
    border-radius: 30px;
    background-color: #E74C3C;
 }
 
 .select {
    width: 9%;
 }
 
 .btn_modify, .btn_delete, .btn_add, .btn_history {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px;
    width: 150px;
    border:0;
    color: white;
    padding: 10px 25px 10px 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 }
 
 .btn_modify:hover, .btn_delete:hover, .btn_add:hover, .btn_history:hover {
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
 }
 
 .btn_modify {
    background-color: #2ECC71;
 }
 
 .btn_modify:hover {
    background-color: #239B56;
 }
 
 .btn_delete {
    background-color: #E74C3C;
 }
 
 .btn_delete:hover {
    background-color: #B03A2E;
 }
 
 .btn_add {
    background-color: #3498DB;
 }
 
 .btn_add:hover {
    background-color: #2874A6;
 }

 .btn_history {
    background-color: #8E44AD;
 }
 
 .btn_history:hover {
    background-color: #793A94;
 }