* {
    font-family: arial;
}

h2 {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 20%;
    font-size: 90px;
    text-align: center;
    color: black;
    clear: both;
}

a {
    text-decoration: none;
}

.card {
    padding: 25px;
    background-color: #EAEDED;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 5% 20% 0% 20%;
    width: 60%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.btns {
    text-align: center;
    margin-bottom: 15px;
}

.btn_signin,
.btn_signup {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 30%;
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    border: 0;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 10px 25px 10px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn_signin:hover,
.btn_signup:hover {
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.btn_signin {
    background-color: #2ECC71;
}

.btn_signin:hover {
    background-color: #239B56;
}

.btn_signup {
    background-color: #E74C3C;
}

.btn_signup:hover {
    background-color: #B03A2E;
}