select {
    position: relative;
	display: block;
	margin: 0 auto;
	margin-bottom: 55px;
	padding: 5px;
	border: 0;
	border-bottom: 2px solid #8E44AD;
	font-size: 15px;
    width: 300px;
    padding: .8em .5em;
    font-family: inherit;
    background: url("../imgs/icon/down_arrow.png") no-repeat 95% 50%;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.card {
	margin: 5% 35% 0 35%;
}