.uid {
    float: left;
    width: 20%;
    margin-left: 1%;
}

.name {
    float: left;
    width: 15%;
	margin-left: 4%;
	margin-right: 4%;
}

.email {
    float: left;
    width: 30%;
	margin-right: 4%;
}

.pwd {
    float: right;
    width: 20%;
}