#table {
	position: relative;
	display: block;
	margin: 0 auto;
}

#head {
    border-bottom: 2px solid #8E44AD;
}

input {
	border: 0;
	background-color: rgba(0,0,0,0.0);
	padding: 10px 15px 10px 15px;
	margin-bottom: 5%;
}

.no {
    float: left;
    width: 10%;
    margin-left: 1%;
}

.type {
    float: left;
    width: 10%;
	margin-left: 5%;
	margin-right: 5%;
}

.place {
    float: left;
    width: 55%;
	margin-right: 5%;
}

.state {
    float: right;
    width: 10%;
}

.btn_able {
	border-radius: 30px;
	background-color: #2ECC71;
}

.btn_unable {
	border-radius: 30px;
	background-color: #E74C3C;
}