*{
	font-family: arial;
}

h2 {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 45px;
	text-align: center;
	color: #8E44AD;
	clear: both;
}

.card {
    margin: 5% 20% 0% 20%;
    width: 60%;
    background-color: #EAEDED;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 30px 30px;
}

.back_icon {
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
}

#table {
	position: relative;
	display: block;
	margin: 0 auto;
}

#head {
    border-bottom: 2px solid #8E44AD;
}

input {
	border: 0;
	background-color: rgba(0,0,0,0.0);
	padding: 10px 15px 10px 15px;
	margin-bottom: 5%;
}

.no {
    float: left;
    width: 5%;
    margin-left: 2%;
    margin-right: 3%;
}

.vid {
    float: left;
    width: 10%;
	margin-right: 3%;
}

.s_time {
    float: left;
    width: 28%;
    margin-right: 3%;
}

.e_time {
    float: left;
    width: 28%;
	margin-right: 3%;
}

.price {
    float: right;
    width: 15%;
}