.card {
	margin: 5% 35% 0 35%;
}

td {
	position: relative;
	display: inline-block;
	margin-bottom: 25px;
	padding: 5px;
	border: 0;
	background-color: #EAEDED;
	border-bottom: 2px solid #8E44AD;
	font-size: 15px;
	
}

#startTime, #endTime, #price {
	margin-top: 1%;
}

#end_place {
    position: relative;
	display: inline-block;
	border: 0;
	background-color: #EAEDED;
	font-size: 15px;
}

.btn_okay {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	width: 150px;
	border: 0;
	background-color: #3498DB;
	color: white;
	padding: 10px 25px 10px 25px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn_okay:hover {
	font-size: 15px;
	font-weight: bold;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
	background-color: #2874A6;
}